@import './../base/global';

.#{$prefix-template-name}-about-us {
  color: $russian-violet;

  @include media-up(md) {
    margin: 100px 0;
  }

  @include media-landscape() {
    margin: 0;

    & > div:first-child {
      padding-top: 80px;
    }
  }

  h2 {
    color: $dark-purple;
  }
}
