@import '../base/global';

.#{$prefix-template-name}-home {
  opacity: 1;
  width: 100%;

  @include media-landscape() {
    .banner-ls {
      margin: 0 auto;
    }
  }

  .fmc-footer {
    background-color: #2b1645;
  }

  .fmc-header {
    position: absolute;
    top: 0;
  }

}
